<div class="row">
	<div class="col-sm-4 col-md-4 col-lg-4">
		<ul class="list-group">
      <li class="list-group-item justify-content-between header">
        NEW LISTS
      </li>
      <% lists_new.each do |list| %>
        <li class="list-group-item justify-content-between">
          <%= link_to list.title, list_path(list), class: "list" %>
        </li>
      <% end %>
		</ul>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4">
		<ul class="list-group">
      <li class="list-group-item justify-content-between header">
        RECENT ACTIVITY
      </li>
      <% lists_activity.each do |list| %>
        <li class="list-group-item justify-content-between">
          <%= link_to list.title, list_path(list), class: "list" %>
        </li>
      <% end %>
		</ul>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4">
		<ul class="list-group">
      <li class="list-group-item justify-content-between header">
        MOST POPULAR
      </li>
      <% lists_popular.each do |list| %>
        <li class="list-group-item justify-content-between">
          <%= link_to list.title, list_path(list), class: "list" %>
        </li>
      <% end %>
		</ul>
	</div>
</div>
