<div id="list-form">
  <%= form_for [:admin, @list], html: { class: "js-list-form" } do |f| %>
    <h2>Editing Your List</h2>

    <% if @list.errors.any? %>
      <p class="there-be-errors pink">Uh oh! Something went wrong!</p>
    <% end %>

    <div class="row">
      <%= render partial: "form", locals: { f: f } %>
    </div>
  <% end %>
</div>
