<div id="users">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>All Users</th>
        <th class="stat">Lists</th>
        <th class="stat">Comments</th>
        <th class="stat">Likes</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.login, profile_path(user.login) %></td>
            <td class="stat"><%= user.lists.size %></td>
            <td class="stat"><%= user.comments.size %></td>
            <td class="stat"><%= user.likes.size %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>