<% content_for :hero do %>
  <div id="home">
    <div class="container splash-container">
      <div class="row">
        <div class="col-sm-12 splash">
          <h1 class="text-center">Pointless List-Making at its Finest</h1>
          <p class="lead text-center">Think outside the checkbox and <b>get creative</b></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="home">
  <%= render partial: "lists/lists", locals: { lists_new: @lists_new, lists_activity: @lists_activity, lists_popular: @lists_popular } %>
</div>
