body {
  margin-top: 100px;
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: $dark;
}

p, li, td, label {
  font-size: 120%
}

a {
	color: $pink;
	text-decoration: underline;
}

a:hover {
	color: $pink-medium;
	text-decoration: none;
}

h2 {
  margin: 20px 0;
	color: $dark;
}

h3, h4 {
  margin: 0;
	padding: 0;
	color: $dark;
}

h4.strikethrough {
	padding: 10px;
  background: #fff;
  text-align: center;
  margin-bottom: 5px;

  span {
    background: #fff;
    padding: 0 10px;
    text-align: center;
  }
}

h4.strikethrough+* {
  border-top: 2px solid $pink-faint;
  padding-top: 25px;
  margin-top: -25px;
}

textarea, input {
  margin: 0;
}

.y {
	letter-spacing: -2px;
}

.list-group {
  .list-group-item {
    &.header {
      background: $dark;
      color: #fff;
      border: 1px solid $dark;
    }

    a.list {
      color: $dark;
      text-decoration: none;
    }

    a.list:hover {
      color: $dark;
      text-decoration: none;
      border-bottom: 2px solid $pink;
    }
  }
}

.badge {
  background: #fff;
  .fa { font-size: 20px }
  a { color: #666 }
  a:hover { color: $pink }
}

.there-be-errors {
  margin-top: 0;
  font-weight: bold;
  font-size: 130%;
}

.error_messages_for {
  font-size: 100%;
}

.pink {
  color: $pink;
}

::selection,
::-moz-selection {
	background: $pink-light;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.btn { text-decoration: none }

.btn-lyl-default {
  color: $dark;
  background-color: #eee;
  border-color: none
}

.btn-lyl-default:hover {
  color: $pink;
  background-color: #eee;
}

.btn-lyl-primary {
  color: #fff;
  background-color: $pink;
}

.btn-lyl-primary:hover {
  color: #fff;
  background-color: $pink-light;
}

.btn-lyl-delete {
  color: $dark;
  background-color: $pink-faint;
}

.btn-lyl-delete:hover {
  color: #eee;
  background-color: $dark;
}

#footer {
	background: $pink-faint;
	display: block;

  .footer-container {
    width: 100%;
    margin: 60px 0 0 0;
    padding: 25px;
  }

  p.created_by {
    font-size: 100%;
    text-align: right;
    color: #666;
    margin: 0;
    padding: 0;
  }
}
