// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about {

  h3 {
    margin-bottom: 20px;
  }

  h5 {
    font-size: 165%;
    margin-top: 0;
  }

  blockquote {
    font-size: 100%;
    background: #eee;
    border: 5px solid #ccc;
    padding: 20px;
    font-family: serif;
    margin: 20px 0;
  }

}

#home {

  .disclaimer {
    background-color: #f9f;
    margin: 20px 0 10px 0;
    padding: 20px;
    color: white;
    border: 5px solid #eee;

    h2 {
      margin: 0 0 10px 0;
    }
  }

  ul {
    margin-bottom: 20px;
  }

}