// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list {
  p.description {
    color: #666;
  }

  p.listed_by {
    display: block;
    background: #eee;
    text-align: center;
    padding: 10px;
    margin: 30px 0;
  }

  p.commented_by {
    font-size: 90%;
    color: #999;
    margin-bottom: 0;
    text-align: right;
  }

  ul.single_list, ol.single_list {
    margin: 20px 0;
  }

  ul.single_list li, ol.single_list li {
    margin-bottom: 15px;
  }

  ul.comments {
    list-style-type: none;
    margin: -10px 0 0 0;
    padding: 0;
  }

  ul.comments li {
    padding: 10px;
    margin: 20px 0;
    font-size: 100%;
  }

  ul.comments li:nth-child(odd) {
    background-color: #fff;
  }

  ul.comments li:nth-child(even) {
    background-color: #eee;
  }
}

#lists {
  th.stat, td.stat {
    text-align: center;
    width: 15%;
  }

  thead tr th {
    color: #fff;
    background-color: $dark;
    border-bottom: none;
    font-size: 120%;
  }
}

#list-form {
  h2 {
    margin: 0 0 20px 0;
    padding: 0;
  }

  textarea {
    height: 130px;
  }

  li {
    margin: 20px 0;

    .fa {
      font-size: 1.25em;
      margin-left: 5px;
    }

    a { color: $pink }
    a:hover { color: #666 }

    a.remove_fields { color: #ccc }
    a.remove_fields:hover { color: $pink }
  }

  ol, ul {
    margin-left: -15px;
  }

  .form-control {
    display: inline;
  }

  .status-help-text {
    color: #ccc;
    font-size: 80%;
    margin: -10px 0 40px 0;
  }

  .links {
    color: #ccc;
    margin-top: -10px;
    font-size: 100%;
  }

  .settings {
    margin-bottom: 20px;

    a {
      color: $dark;
      text-decoration: none;
    }

    a:hover {
      color: $pink;
    }

    input[type=submit] {
      margin-bottom: 10px;
    }

    .section {
      margin-bottom: 20px;
    }

    .section + .section {
      padding-top: 20px;
      //border-top: 1px solid #eee;
    }
  }

  .options {
    label {
      margin: 0;
      padding: 0;
      width: 49%;
      font-size: 120%;
      background-color: #eee;
      font-weight: normal;
      cursor: pointer;
      color: $dark;

      &:hover {
        background-color: #ddd;
      }

      input {
        position: absolute;
        visibility: hidden;
      }

      span {
        text-align: center;
        padding: 15px;
        display: block;
      }
    }

    input:checked + span {
      color: #fff;
      background-color: $pink;
      cursor: auto;
    }
  }
}

@media (max-width: 767px) {
  .stat { display: none }
  h2 { font-size: 170% }
  .settings { margin-top: 30px }
}

@media (min-width: 768px) {
  .settings { margin-top: -42px }
}
