// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#list {
  p.description {
    color: #666;
  }

  p.listed_by {
    display: block;
    background-color: $grey-faint;
    text-align: center;
    padding: 10px;
    margin: 30px 0;
  }

  p.commented_by {
    font-size: 90%;
    color: #999;
    margin-bottom: 0;
    text-align: right;
  }

  ul.single_list, ol.single_list {
    margin: 20px 0;
  }

  ul.single_list li, ol.single_list li {
    margin-bottom: 15px;
  }

  h4.strikethrough.comments {
    padding: 0;
    margin-bottom: -10px;
  }

  h4.comments-off {
    color: #ccc;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  ul.comments {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul.comments li {
    padding: 30px 20px;
    margin: 0 20px;
    font-size: 100%;
  }

  ul.comments li:first-of-type {
    margin-top: 20px;
  }

  ul.comments li:last-of-type {
    margin-bottom: 20px;
  }

  ul.comments li:nth-child(odd) {
    background-color: $grey-faint;
  }

  ul.comments li:nth-child(even) {
    background-color: #FFF;
  }

  form {
    margin-bottom: 40px;

    textarea { margin-top: 10px }

    p.comment-help-text {
      color: #ccc;
      font-size: 90%;
      margin: -15px 0 20px 0;
    }
  }

  .secret-or-private {
    margin: 10px 0;
    padding: 10px;
    background: $alert-success;
    border: 2px solid $pink;
  }
}

#lists {
  th.stat, td.stat {
    text-align: center;
    width: 15%;
  }

  thead tr th {
    color: #fff;
    background-color: $dark;
    border-bottom: none;
    font-size: 120%;
  }
}

#list-form {
  h2 {
    margin: 0 0 20px 0;
    padding: 0;
  }

  textarea.flex-text {
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;

    @media (max-width: 350px) {
      height: 34px;
      padding: 6px 12px;
      font-size: 16px;
      line-height: 1.36857143;
    }
  }

  textarea.description {
    height: 100px;
  }

  label { font-weight: 500 }

  .links {
    color: #ccc;
    font-size: 100%;

    .form-help-link {
      float: right;
      font-size: 120%;
      margin-right: 5px;
    }

    // TODO this doesn't work right now
    // it's inline in the lists/_form
    a { text-decoration: none }
  }

  .form-help {
    margin-top: 20px;
    padding-left: 20px;

    h5 {
      color: #666;
      font-size: 150%;
      margin: 20px 0;
    }

    p, ul {
      font-size: 100%;
      color: #666;
    }

    ul {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    li {
      font-size: 100%;
      margin-bottom: 10px;
    }
  }

  .settings {
    margin-bottom: 20px;

    a {
      color: $dark;
      text-decoration: none;
    }

    a:hover {
      color: $pink;
    }

    input[type=submit] {
      margin-bottom: 10px;
    }

    .section {
      margin-bottom: 20px;

      p.status-help-text {
        color: #ccc;
        font-size: 90%;
        margin: -30px 0 40px 0;
      }

      p.secret-help-text {
        color: $pink;
        font-size: 110%;
        margin: 5px 0 40px 0;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .options {
    margin-bottom: 40px;

    label {
      margin: 0;
      padding: 0;
      width: 49%;
      font-size: 120%;
      background-color: #eee;
      font-weight: normal;
      cursor: pointer;
      color: $dark;

      &.status {
        width: 32.25%;
      }

      &:hover {
        background-color: #ddd;
      }

      input {
        position: absolute;
        visibility: hidden;
      }

      span {
        text-align: center;
        padding: 15px;
        display: block;
      }
    }

    input:checked + span {
      color: #fff;
      background-color: $pink;
      cursor: auto;
    }
  }

  ol, ul {
    margin-left: -20px;
  }

  li {
    margin: 0;
    width: 99%;
    position: relative;

    // fixes weird li behavior
    // inherited from .form-control
    textarea.item {
      display: inline-block;
      vertical-align: middle;
    }

    .fa {
      font-size: 1.25em;
      background: #fff;
      padding: 0;
      margin: 0;
    }

    a.remove_fields {
      margin: 0;
      color: #ccc;
      top: -10px;
      right: -8px;
      position: absolute;
    }

    a.remove_fields:hover { color: $pink }
  }
}

textarea.comment-textarea {
  height: 150px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  h2 { font-size: 170% }
  .stat { display: none }
  .settings { margin-top: 30px }
}

@media (min-width: 768px) {
  .settings { margin-top: -22px }
}
